body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d39eff;
}

.clock-container {
    text-align: center;
}

#clock {
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    color: #fffcfc;
    background-color: #ff8a8a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #ffbdf4;
    width: fit-content;
    margin: 0 auto;
}